<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/about">About</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/contact">Contact</a>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <p>&copy; 2024 Shulammite Onwuemeri. All Rights Reserved.</p>
  <div class="social-links">
    <a href="https://github.com/" target="_blank" class="social-icon">GitHub</a>
    <a href="https://linkedin.com/" target="_blank" class="social-icon">LinkedIn</a>
    <a href="https://twitter.com/" target="_blank" class="social-icon">Twitter</a>
  </div>
</footer>