<div class="home">
    <h1>Shulammite Onwuemeri</h1>
    <p>Web Developer | Mobile App Developer</p>
    <img src="assets/img1.jpg" alt="Shulammite's Profile Picture" />
    <p>
      I’m a passionate developer specializing in building cross-platform
      applications. With experience in Angular, Cordova, and Firebase, I create
      efficient, scalable solutions.
    </p>
    <button routerLink="/about">Learn More About Me</button>
    <button routerLink="/contact">Get in Touch</button>
  </div>
  